---
import Header from "../components/Header.astro";

export interface Props {
  locale: string;
  language: string;
  title: string;
  author: string;
  description: string;
}

const { locale, language, title, author, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={`${language}-${locale}`}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-language" content={`${language}-${locale}`} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="author" content={author} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="android-chrome-512x512.png" />
    <link rel="manifest" href="manifest.webmanifest" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./apple-touch-icon.png"
    />
    <style>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      :root {
        @apply font-serif;
        @apply text-lg md:text-xl;
        @apply text-slate-900 dark:text-slate-100;
      }

      html {
        @apply h-screen w-screen;
        @apply bg-slate-100 dark:bg-slate-900;
      }

      body {
        @apply overflow-scroll;
        @apply mx-auto my-0;
        @apply h-full min-h-full;
        @apply w-fit max-w-lg;
        @apply flex flex-col flex-nowrap;
        @apply items-stretch justify-start;
      }
    </style>
  </head>
  <body>
    <Header title={title} />
    <slot />
    <slot name="footer" />
  </body>
</html>
